<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>随申码</title>
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
</head>
<body>
    <div class="bg2">
        <span id="name">@ViewBag.Name</span>
        <span id="checkTime">核验时间：<span id="time"></span></span>
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script>
        var date = new Date();
        var dateTime = date.getFullYear() + "-" + date.getMonth() + "-" + date.getDate() + " " + date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds();
        $("#time").text(dateTime);
    </script>
</body>
</html>